This is an example of a jupyter notebook, running using the `pixi` environment we created to manage our dependencies. Note that you may need to change your python interpreter (top right corner) to:
`.pixi/envs/default/bin/python`

In [ ]:
import pandas as pd
from dotenv import load_dotenv
import os

In [ ]:
load_dotenv()
demo_name = os.getenv("DEMO_NAME")
print(demo_name)

In [2]:
demo_name = os.getenv("DEMO_NAME")
results_path = f"../local_dev_data/output/{demo_name}.csv"
print(results_path)

../local_dev_data/output/None.csv

In [ ]:
combined_results = pd.read_csv()
combined_results.head()

In [12]:
combined_results.groupby('Species').count()

                               MapUnit_ID  Class  Con  Avg  Min  Max
Species
Acacia greggii                         42     42   42   42   42   42
Acamptopappus sphaerocephalus           5      5    5    5    5    5
Achnatherum coronatum                   2      2    2    2    2    2
Achnatherum hymenoides                  1      1    1    1    1    1
Achnatherum speciosum                  39     39   39   39   39   39
...                                   ...    ...  ...  ...  ...  ...
Xanthium strumarium                     1      1    1    1    1    1
Xylorhiza tortifolia                   15     15   15   15   15   15
Yucca brevifolia                       28     28   28   28   28   28
Yucca schidigera                       37     37   37   37   37   37
Ziziphus obtusifolia                    1      1    1    1    1    1

[204 rows x 6 columns]